/* fildsetcomponent component */

.fieldset {
    border: 2px solid var(--color-neutral);
    margin-bottom: var(--spacing-x4);
}

.fieldset__legend {
    font-size: var(--font-size-meta);
    padding: var(--spacing-x1) var(--spacing-x2);
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}