/* footer component */

.footer {
    height: auto;
    overflow: auto;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: var(--spacing-x2) var(--spacing-x4)
}

.footer__paragraph {
    margin: var(--spacing-x4);
    font-size: var(--font-size-meta);
}

