/* input component */

.inputblock {
    width: 100%;
    margin-bottom: var(--spacing-x1);
    font-size: var(--font-size-normal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-dark);
    display: block;
}

.inputblock__label {
    font-size: var(--font-size-meta);
}

.inputblock__helptext {
    font-size: var(--font-size-small);
}

.inputblock__field {
    font-size: var(--font-size-normal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}