/* page title component */

.pagetitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--font-size-main);
    font-weight: 400;
    margin: var(--spacing-x4) 0 var(--spacing-x4) 0;
}