/* table component */


.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: var(--spacing-x4);
}

.table__th {
    font-weight: 700;
    font-size: var(--font-size-normal);
    padding: var(--spacing-x1);
}

.table__td {
    font-weight: 400;
    font-size: var(--font-size-meta);
    padding: var(--spacing-x1);
}